body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.br-website-description {
  text-align: justify;
  font-size: 14px;
}

.br-search-btn {
  height: 50px;
  width : 200px;
  font-size: 40px;
}

.br-website-heading {
  font-family: "Bodoni MT Black", serif;
}

